# currently made for shell execution. To be updated
# creating a release works from the command line as follows
#  glab release create 1.6.0  -n v1.6.0
#  to do: publish doc .pdf also
#  go to a docker solution
#
stages:
  - test
  - build
  - release

# define test job
test-job:
  stage: test
  script:
    # run the R CMD check on the package (this path)
    - R CMD check ./ --no-manual
    # run the devtools test
    - R -e 'devtools::test()'
  when:
    manual
    
build-job:
  stage: build
  script:
    # install
    - R -e 'devtools::build(path=".")'
    - echo "JOB_ID=$CI_JOB_ID" > artifacts_vars.env 
    - echo "TARNAME=`ls -1 *.tar.gz`" >> artifacts_vars.env 
  artifacts:
    paths:
     - "*.tar.gz"
     - artifacts_vars.env
    reports:
      dotenv: artifacts_vars.env
  when:
    manual
release:
  stage: release
  needs: ["build-job"]
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - export TGZ_URL="${CI_SERVER_URL}/${CI_PROJECT_PATH}/-/jobs/${JOB_ID}/artifacts/file/${TARNAME}"
    - echo "the asset URL is :"${TGZ_URL}
    - |
      glab release create "${CI_COMMIT_TAG}" \
      --name "gtseries Release ${CI_COMMIT_TAG} with ${CI_COMMIT_SHORT_SHA}" \
      --assets-links "[{\"name\":\"${TARNAME}\",\"url\":\"${TGZ_URL}\",\"link_type\":\"package\"}]"
  artifacts:
    paths:
      - "*.tar.gz"
