export(cwt_morlet)
export(mfft)
export(approx_ts)
export(mem)
export(phase_randomize)
export(ssa)
useDynLib(gtseries)
S3method(plot,wavelet)
S3method(plot,memObject)
importFrom(grDevices, colorRampPalette)
